---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Kayak Cyber Government Solutions',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
  >
  <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
  <Fragment slot="title">
     Your Government Experts in Cyber Security and FedRAMP Compliance
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Kayak Cyber Government Solutions</span> is has over 25 years of experience designing, and implementing solutions for Government Agencies.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Small Business Set Aside</span>
      As a verteran owned small business, we are able to provide the high value solutions for your small business set aside requirements. 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Kayak Cyber Government Solutions"
    subtitle="Keeping your data safe and secure is our top priority. We offer a wide range of services to help you with your cyber security needs to protect you and the agencies you serve."
    items={[
      {
        title: 'Extended Endpoint Detection and Response (XDR) Solutions',
        description:
          'To have a successful security plan, you need to have a good understanding of the threats you face and the vulnerabilities in your systems. Our XDR platform enables organizations to detect, investigate, and respond to threats across their entire environment.',
        icon: 'tabler:virus-off',
      },
      {
        title: '24x7x365 Security Operations Center (SOC)',
        description:
          '24x7x365 Security Operations Center (SOC) services to help you detect, respond to, and mitigate threats to your organization. Our US-Based SOC services are designed to help you protect your organization from cyber threats and keep your data safe.',
        icon: 'tabler:virus-search',
      },
      {
        title: 'Network Architecture and Design',
        description:
          'Our team of experts can help you design and implement a secure network architecture that meets your organization’s needs. We can help you design a network that is secure, scalable, and reliable.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Zero Trust Network Architecture (ZTNA)',
        description:
          'Zero Trust Network Architecture (ZTNA) is a security model that requires strict identity verification for every person and device trying to access resources on a private network, regardless of whether they are sitting within or outside of the network perimeter.',
        icon: 'tabler:topology-star-ring-3',
      },
      {
        title: 'Government Compliance and Certification Audits',
        description:
          "We can help you navigate the complex world of government compliance and certification. We'll help you understand the requirements and guide you through the process of becoming compliant.",
        icon: 'tabler:devices-check',
      },
      {
        title: 'And Much More',
        description:
          'Reach out to learn more about  how we can help you with your next project.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'State/Federal Contracts Won', amount: '190+' },
      { title: 'State Goverements Served', amount: '25' },
      { title: 'Federal Departments Served', amount: '15' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Learn More About How We Can Help You
    </Fragment>

    <Fragment slot="subtitle">
      Secure your business, and win more contracts with our cyber security solutions today. 
    </Fragment>
  </CallToAction> -->
</Layout>
