---
// import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import LogoImage from '~/assets/favicons/logo.svg';
import Image from '~/components/common/Image.astro';

---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<div class="flex items-center">
  <div class="hidden md:block">
    <Image
      height={'auto'}
      width={'auto'}
      src={LogoImage}
      alt={SITE.name + ' logo'}
      title={SITE.name + ' logo'}
      decoding="async"
    />
  </div>
  <div class="block md:hidden">
    <Image
      height={60}
      width={94}
      src={LogoImage}
      alt={SITE.name + ' logo'}
      title={SITE.name + ' logo'}
      decoding="async"
    />
  </div>
</div>
</span>
